@{
    ViewData["Title"] = "Home Page";
}

<div id ="react-homepage-root" ></div>

@section Styles
{
    <link href="dist/styles/libs.css" rel="stylesheet"/>
}

@section Scripts
{
    <script href="dist/homepage.js"></script>
}
